/*===================================
	body header row costumization
====================================*/

.row-header{
    margin:0px auto;
    padding:0px auto;
}

/*=========================================
	Body main content row costumuzation
==========================================*/

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

/*========================================
	Body footer content row costumuzation
=========================================*/

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}


body{
	/*
		This is because of the fix nav, to avoid nav to hide part of the body content
	*/
    padding:50px 0px 0px 0px;
    z-index:0;
}

/*==============================================
	Navbar costumization
==============================================*/
.navbar-inverse {
	/*Change the background color of the .navbar-inverse class of bootstrap*/
     background: #303F9F;
}

/**/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

/*================================
	Costum label
================================*/
.label-xs {

font-size: 50%;

padding: .2em .6em .2em;

vertical-align: middle;

} 

/*================================
	white color to text
================================*/
.my-text-color{
    color: #fff;
}

/*================================
	Icon inside input
================================*/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*================================
	Costum tab pane
================================*/
.tab-pane {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

/*============================
	Affix costum
============================*/
.affix {
    top:100px;
}

/*======================
	Carousel costum
======================*/
.carousel {
    background:#1A237E;
}

.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons{
	position: absolute;
	right: 0px;
	bottom: 0px;
}